﻿<!doctype html>
<html lang="en" ng-app="referralsApp" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <title>Referrals</title>
    <link rel="stylesheet" href="/app/css/bootstrap.min.css">
    <link rel="stylesheet" href="/app/css/app.css">
</head>
<body>
    <div class="container">
        <div class="navbar">
            <div class="navbar-inner">
                <ul class="nav">
                    <li><a href="NewReferral.html">Create Referral</a></li>
                    <li><a href="ReferralDetails.html">Back to Referrals</a></li>

                </ul>
            </div>
        </div>

        <!--This is used to place CSS classes on dirty and invalid form inputs-->
        <style>
            input.ng-invalid.ng-dirty {
                background-color: pink;
            }
        </style>
        <div ng-controller="FindReferralController" style="padding-left: 20px; padding-right: 20px">
            <div class="container">
                <h1>New Referral</h1>
                <hr />
                <form name="newReferralForm">
                    <fieldset>
                        <label for="referralFirstName">First Name:</label>
                        <input id="referralFirstName" type="text" required ng-model="referral.firstName" placeholder="First Name" />

                        <label for="referralLastName">Last Name:</label>
                        <input id="referralLastName" type="text" ng-model="referral.lastName" placeholder="Last Name" />

                        <label for="referralAddress1">Address 1:</label>
                        <input id="referralAddress1" type="text" ng-model="referral.location.addressOne" placeholder="Address" />

                        <label for="referralAddress2">Address 2:</label>
                        <input id="referralAddress2" type="text" ng-model="referral.location.addressTwo" placeholder="Address 2" />
                        <br />
                        <input id="referralCity" type="text" ng-model="referral.location.city" class="input-small" placeholder="City..." />
                        <input id="referralProvince" type="text" ng-model="referral.location.state" class="input-small" placeholder="State..." />
                        <input id="referralZip" type="text" ng-model="referral.location.zip" class="input-small" placeholder="Zip..." />

                        <label for="eventImageUrl">Image</label>
                        <input id="eventImageUrl" type="url" ng-model="event.imageUrl" class="input-xlarge" placeholder="URL of image..." />

                    </fieldset>

                    <img ng-src="{{event.imageUrl}}" src="" />
                    <br />
                    <br />


                    <!--This form.$invalid with ng-disabled is used to have the save button blank until all fields are correct-->
                    <button type="submit" ng-disabled="newReferralForm.$invalid" ng-click="saveEvent(referral, newReferralForm)" class="btn btn-primary">Save</button>
                    <button type="button" ng-click="cancelEdit()" class="btn btn-primary">Cancel</button>

                </form>
            </div>
        </div>
    </div>
    <script src="/app/lib/angular/angular.js"></script>
    <script src="/app/js/app.js"></script>
    <script src="/app/js/controllers/EditReferralController.js"></script>
    <script src="/app/js/controllers/ReferralController.js"></script>
    <script src="/app/js/filters.js"></script>
</body>
</html>


<!--
required ng-pattern="/\d\d/\d\d/\d\d\d\d/" -->
