﻿<!doctype html>
<html lang="en" ng-app="referralsApp" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <title>Referrals</title>
    <link rel="stylesheet" href="/app/css/bootstrap.min.css">
    <link rel="stylesheet" href="/app/css/app.css">
    <link rel="stylesheet" href="/app/js/styles/kendo.common.min.css"/>
    <link rel="stylesheet" href="/app/js/styles/kendo.silver.min.css"/>
</head>
<body>
<div class="container">
    <div class="navbar">
        <div class="navbar-inner">
            <ul class="nav">
                <!--<li>
                    <a href="NewReferral.html">Create Event</a>
                </li>-->
                <li>
                    <a href="ReferralDetails.html">Back to Referrals</a>
                </li>

            </ul>
        </div>
    </div>

    <!--This is used to place CSS classes on dirty and invalid form inputs-->
    <style>input.ng-invalid.ng-dirty { background-color: pink }</style>
    <div ng-controller="AddNewReferralController" style="padding-left: 20px; padding-right: 20px" ng-cloak>
        <div class="container">
            <h1>New Referral</h1>
            <hr/>
            <form name="newReferralForm">
                <fieldset>
                    <div class="row">
                        <div class="col-md-6">

                            <label for="referralFirstName">First Name:</label>
                            <input id="referralFirstName" type="text" required ng-model="referral.firstName" placeholder="First Name"/>
                        </div>
                        <div class="col-md-6">
                            <label for="referralLastName">Last Name:</label>
                            <input id="referralLastName" type="text" ng-model="referral.lastName" placeholder="Last Name"/>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <label for="referralAddress1">Address 1:</label>
                            <input id="referralAddress1" type="text" ng-model="referral.location.addressOne" placeholder="Address" />

                            <label for="referralAddress2">Address 2:</label>
                            <input id="referralAddress2" type="text" ng-model="referral.location.addressTwo" placeholder="Address 2" />
                        </div>
                    </div>

                    <br/>
                    <div class="row">
                        <div class="col-md-3">
                            <input id="referralCity" type="text" ng-model="referral.location.city" class="input-small" placeholder="City..." />
                            <input id="referralProvince" type="text" ng-model="referral.location.state" class="input-small" placeholder="State..." />
                            <input id="referralZip" type="text" ng-model="referral.location.zip" class="input-small" placeholder="Zip..." />
                        </div>
                    </div>
                    <br/>

                    <div class="row">
                        <div class="col-md-3">
                            <input id="referralPhoneNumber" type="text" ng-model="referral.phoneNumbers" class="input-medium" placeholder="Phone Number" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"></div>
                        <h4>Date:</h4>
                        <input id="datepicker" style="width: 25%" class="input-medium" />
                    </div>
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div ng-controller="ReferralTypeController">
                            <label for="repeatSelect"> Lending Type: </label>
                            <select name="repeatSelect" id="repeatSelect" ng-model="data.repeatSelect">
                                <option ng-repeat="option in data.availableOptions" value="{{option.id}}">{{option.name}}</option>
                            </select>
                        </div>
                    </div>
                </fieldset>
                <!--This form.$invalid with ng-disabled is used to have the save button blank until all fields are correct-->
                <button type="submit" ng-disabled="newReferralForm.$invalid" ng-click="saveEvent(referral, newReferralForm)" class="btn btn-primary">Save</button>
                <button type="button" ng-click="cancelEdit()" class="btn btn-primary">Cancel</button>

            </form>
        </div>
    </div>
</div>


<script src="/app/js/kendo/jquery.min.js"></script>
<script src="/app/lib/angular/angular.js"></script>
<script src="/app/js/app.js"></script>
<script src="/app/js/controllers/AddNewReferralController.js"></script>
<script src="/app/js/controllers/ReferralTypeController.js"></script>
<script src="/app/js/controllers/ReferralController.js"></script>
<script src="/app/js/filters.js"></script>
<script src="/app/js/kendo/kendo.all.min.js"></script>

<script>
    $(document).ready(function() {
        // create DateTimePicker from input HTML element
        $("#datepicker").kendoDateTimePicker({
            value: new Date()
        });
    });
    $("#referralPhoneNumber").kendoMaskedTextBox({
        mask: "(999) 000-0000"
    });
</script>
</body>
</html>


<!--
required ng-pattern="/\d\d/\d\d/\d\d\d\d/" -->
