﻿<!doctype html>
<html lang="en" ng-app="referralsApp" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <title>Event Registration</title>
    <link rel="stylesheet" href="/app/css/bootstrap.min.css">
    <link rel="stylesheet" href="/app/css/app.css">
</head>
<body>
    <div class="container">
        <div class="navbar">
            <div class="navbar-inner">
                <ul class="nav">
                    <li><a href="NewReferral.html">Create Referral</a></li>
                    <li><a href="NewReferral.html">Show Events</a></li>
                </ul>
            </div>
        </div>

        <div ng-controller="ReferralController" style="padding-left: 20px; padding-right: 20px;">

            <div ng-repeat="a in array">
                {{a}}

            </div>
            <!--<div ng-repeat="referral in getAvengers.getAvengers">
                <div>
                    Referral:{{referral.referralSource.name}}
                </div>
                <div class="row">
                    <div class="span11">

                        Email: {{referral.email}}

                    </div>
                </div>
                <div class="row">
                    <div class="span3">
                        <div>
                            <strong>Date:</strong> {{referral.date}}
                        </div>
                    </div>
                    <div class="span4">
                        <address>
                            <strong>Address:</strong>
                            {{referral.addressOne}}
                            {{referral.city}}, {{referral.state}},{{referral.zip}}
                        </address>
                    </div>
                    <div class="span3">
                        <div>
                            <strong>Referral: </strong> {{referral.referralType | referralTypes}}
                        </div>
                    </div>
                </div>
                <hr/>
            </div>-->

        </div>
    </div>
</body>
</html>

<script src="/app/js/kendo/jquery.min.js"></script>
<script src="/app/lib/angular/angular.js"></script>
<script src="/app/js/app.js"></script>
<script src="/app/js/controllers/ReferralController.js"></script>
<script src="/app/js/filters.js"></script>
<script src="/app/lib/angular/angular-resource.js"></script>
<script src="/app/js/services/ReferralData.js"></script>
<script src="js/common/common.services.js"></script>
<script src="/app/js/kendo/kendo.all.min.js"></script>